*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(../img/bg.png) no-repeat center;
  overflow: none;
  background-size: cover;
}

:root {
  --colorBg: rgba(255, 255, 255, 0.1);
  --colorBorder: rgba(255, 255, 255, 0.2);
  --colorBg1: #312c34;
  --colorLink: #8b00ff;
}

.listContainer {
  width: 850px;
  height: 70%;
  position: absolute;
  padding: 0 20px;
  overflow: auto;
  top: 50%;
  left: 50%;
  scrollbar-width: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid var(--colorBorder);
  border-radius: 50px;
  background-color: var(--colorBg);
  cursor: pointer;
  position: relative;
  scrollbar-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#cadastro {
  width: 70px;
  height: 70px;
  top: 75%;
  left: 76%;
  position: absolute;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  background-image: url(../img/plus.svg);
  background-color: var(--colorLink);
  border-radius: 50%;
}

.active {
  height: 200px;
}

.listItem {
  width: 70%;
  cursor: pointer;
  background: var(--colorBg1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  min-height: 70px;
}

.headItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorBg1);
  width: 100%;
  padding: 10px;
  height: 70px;
  border-bottom: 1px solid var(--colorBg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  z-index: 2000;
}

.headItem #icon {
  max-width: 55px;
}

.headItem p {
  width: 70%;
}

.headItem button,
.headItem a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
}

#edit {
  background-color: #161ffd;
  background-image: url(../img/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

#edit:hover {
  background-color: #3e44ec;
}

#delete {
  background-color: #e11414;
  background-image: url(../img/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
}

#delete:hover {
  background-color: #e93333;
}

.bodyItem {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyItem ul {
  width: 60%;
  margin: 10px;
}
/*# sourceMappingURL=styles.css.map */