*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(/src/img/bg.png) no-repeat center;
  overflow: none;
  background-size: cover;
}

:root {
  --colorBg: rgba(255, 255, 255, 0.1);
  --colorBorder: rgba(255, 255, 255, 0.2);
  --colorBg1: #312c34;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
.container {
  width: 850px;
  height: 70%;
  position: absolute;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--colorBorder);
  border-radius: 50px;
  background-color: var(--colorBg);
}
.listContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  @include flex(column, center, center);

  .listItem {
    border-radius: 10px;
    background: var(--colorBg1);
    width: 80%;
    margin-top: 15px;
    padding: 10px;
    @include flex(row, space-evenly, center);
    color: #fff;

    &:first-of-type {
      margin-top: 55px;
    }
    #icon {
      max-width: 55px;
    }
    p {
      width: 70%;
    }
    button {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      outline: none;
      border: none;
      &:first-of-type {
        background: #161ffd;
        background-image: url(img/edit.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
      }
      &:last-of-type {
        background: #e11414;
        background-image: url(img/trash.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 55%;
      }
    }
  }
}
